 @import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap'); 

body {
  font-family: Arial;
  margin: 0;
    background: #03bbdc;
	background-image: url(imgs/backgroundTitleImg.jpg);

}
/*
#background{
	background-image: url(imgs/backgroundTitleImg.jpg);
	
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
}
*/
.header {
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 20px;
}
.header h1{
	/* font-family: 'Saira Stencil One',Monospace, "Times New Roman", Times, serif; */

}

.navBar .search-container {
  float: right;
}


  .navBar input[type=text] {
    border: 1px solid #ccc;  
  }
#searchButton{
	float: right; 
  display: inline-block; 
  color: white; 
  text-align: center; 
  padding: 6.6px 9px; 
  text-decoration: none; 
  margin: 8px 25px 2px 0px ;
  background-color: #ccc;
}
#searchButton img{
	width: 15px;
	height: 15px;
}
#settingsButton{
	float: right; 
  display: inline-block; 
  color: white; 
  text-align: center; 
  padding: 6px 8px 4px; 
  text-decoration: none; 
  margin: 8px 0px 2px 0px ;
  background-color: #ccc;
}
#settingsButton img{
	width: 18px;
	height: 18px;
}
#searchButton:hover , #settingsButton:hover{
  background-color: #888;
}
#settingsContainer{
	color: #1ABC9C;
  text-decoration: none; 
  z-index:999; 
	display: none;
  top:50;
  overflow: hidden;
  background-color: #bfd;
  width: 100%;
  height: auto;
  padding: 0 42px 0;

}
/*
#searchByTextContainer{
	font-family:'Saira Stencil One', Monospace, "Times New Roman", Times, serif;

	vertical-align: top; 
	float: left;
	text-align: center;
	background-color: #cfe;
	display: inline-block;
	padding: 3px 6px;
	margin: 5px 7px;
}
#searchByTextContainer font{
	font-size: 19px;
}*/

.toggle{
	float: right;
	text-align: center;
	background-color: #6f9;
	display: inline-block;
	padding: 4px 5px 2px;
	margin: 6px 3px;

}
.toggleButton, .toggle a{
		display: inline-block;
}
.toggleButton img{
	height:25px;
}
.toggle a{
	float:right;
	padding: 5px;
	font-size: 14px;
	/* margin:auto; */
}

input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 0px;
  font-size: 17px;
}
.stickybar{
	position: -webkit-sticky; /* Safari */
  position: sticky;
  top:0;
  overflow: hidden; 
  z-index:999;
   -webkit-backface-visibility: hidden;

}

 


.navbar {
  top:0;
  overflow: hidden; 
  background-color: #333; 
    z-index:999;

}

/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: #ddd; /* Grey background color */
  color: black; /* Black text color */
}


* {
  box-sizing: border-box;
}

.content {
	padding:5px 30px;
	background-color: #fff;
	}

table {
  table-layout: fixed ;
  width: 100% ;
  border-collapse: separate;
  border-spacing: 20px 25px;
}
td {
	  border: 0px solid black;
	background-color: #ddd;
  width: 25% ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  background-color: grey;
  margin-bottom: 25px;
  position:relative;
}

.projectImage {
  display: block;
  width: 100%;
  height: auto;
  /* -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */ */
  filter: grayscale(100%);
}
.dateOfProject{
  position: absolute;
  top: 8px;
  right: 16px;
  color: white;
  font-size: 1.2em;
  font-family: Monospace, "Times New Roman", Times, serif;

}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

td.hoverableElement:hover .overlay {
  bottom: 0;
  height: 100%;
}


.boxOverlayText{
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  text-align: center;
  
  
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}



div .textContainer {
  text-align: center;
  background-color: white;
  padding: .1px 0px;
  	font-family: Monospace, "Times New Roman", Times, serif;
	/*position:relative;  HOW DO YOU MAKE IT FLOAT DOWN!!!???
}
div .textContainer p{
	text-align: center;
	width:100%;
	position:absolute;
	bottom: 0px;*/
}



.footer {
	
  padding: 20px; /* Some padding */
  text-align: center; /* Center text*/
  background: #000; /* Grey background */
  color: #fff;
  font-family: "Times New Roman", Times, serif;

}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {

}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
