@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap');
/* 
Fonts

'Saira Stencil One'                                  ***blue
*/
@font-face {  
	font-family: AmericanCaptain; 
	src: url("resources/fonts/American Captain.otf") format('opentype'),
	     url("resources/fonts/American Captain.ttf") format('truetype'); 
} 

@font-face {
  font-family: CaptureIt;
  src: url("resources/fonts/Capture it.ttf");
}
@font-face {
  font-family: Campus;
  src: url("resources/fonts/CAMPUS PERSONAL USE.ttf");
}
#myName {
	color: #0649a7;
	font-size: 5.5em;
	font-family: Campus,'Saira Stencil One',Monospace, "Times New Roman", Times, serif;

}

body{
	background-size: cover;
	background-image: url("resources/imgs/tempBackground.jpg");
	background-repeat: no-repeat;
	background-color: #110;
	background-position: left top;
	transition: background-image .8s linear;
}
#egg{
	position:relative;
	height:62px;
	width:42px;
}
.table{
	display: table;
	margin: 0px 2px 30px 5px;
}
.button{
	position: relative;
	border-radius: 15px 30px 25px 35px; 
   margin: 0px 2px 10px 5px;
  padding: 7px 20px;
  background-color: rgba(209, 203, 200, 0.33);;
  border-style: dashed;
  border-width: 2px;
  color: black;
  text-align: center;
  text-decoration: none;
  /* display: table;  */
	color: #0649a7;
	font-size: 1.1em;
	font-family: Campus,'Saira Stencil One',Monospace, "Times New Roman", Times, serif;
}
#container{
	position: relative;
	float: left;
	top: 29%;
	left: 10%;
	/* transform: translate(-50%, -50%); */
}
#button{
	position: relative;
	float: left;
	top: 60%;
	left: 0%;
	/* transform: translate(0%, -50%); */
}
