
* { box-sizing:border-box; margin:0; padding:0; }

html { height:100%; width:100%; }

body {

  align-content:center;
  align-items:space-around;
  background-color:#202830;
  display:grid;
  justify-items:center;
  height:100%;
  width:100%;

}

img {
	alt: "Error";
	position: absolute;
}

canvas { image-rendering:auto; } /*see https://developer.mozilla.org/en-US/docs/Web/CSS/image-rendering*/

